/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";
@import "~resources/scss/partials/_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #222;
    color: white;
}

header,
footer {
    width: 100%;
    background: $main_color;
    color: black;
}

header img.logo {
    height: 2rem;
}

img.comicCover{
    width: 4rem;
}